.introduction-heading{
    font-weight: 600;
    letter-spacing: -0.5px;
    font-size: 2.4rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
}

.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    margin-bottom: 3.2rem;
}

.list-item{
    font-size: 1.6rem;
    line-height: 1.6;
    /*text-align: justify;*/
}

.list-item span{
    font-weight: 600;
    color: #e67e22;
    text-transform: capitalize;
}

.introduction-btn{
    font-size: 1.4rem;
    padding: 1.2rem 1.6rem;
}




/********************************/
/*below 1200px(75em)(landscape tablets)*/
/********************************/
@media (max-width: 75em) {
    .introduction-heading{
        font-size: 2.4rem;
    }

    .list-item{
        font-size: 1.6rem;
    }
}


/********************************/
/*below 944px(59em)(tablets)*/
/********************************/
@media (max-width: 59em) {
    .introduction-heading{
        font-size: 2rem;
    }

    .list-item{
        font-size: 1.4rem;
    }

}


/********************************/
/*below 768px(48em)(smaller tablets)*/
/********************************/
@media (max-width: 48em) {
    .introduction-heading{
        font-size: 2.4rem;
    }

    .list-item{
        font-size: 1.6rem;
    }

}


/********************************/
/*below 544px(34em)(phones)*/
/********************************/
@media (max-width: 34em) {
    .introduction-heading{
        font-size: 2rem;
    }

    .list-item{
        font-size: 1.4rem;
    }

    .introduction-btn{
        font-size: 1.6rem;
    }

}

/********************************/
/*below 416px(26em)(small phones)*/
/********************************/
@media (max-width: 26em) {
    .introduction-heading{
        font-size: 1.6rem;
    }

    .list-item{
        font-size: 1.2rem;
    }

    .introduction-btn{
        font-size: 1rem;
    }
}


