.project-card {
    max-width: 30rem;
    margin: auto;
    text-align: center;
    font-family: arial;

    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.2rem;
    justify-items: center;
}

img{
    width: 80%;
}

.project-tools{
    color: grey;
    font-size: 1.8rem;
}