.btn-mobile-nav{
    border: none;
    background: none;
    cursor: pointer;

    display: none;
}

.icon{
    color: #f8f9fa;
    fontWeight: 600;
    font-size: 3.6rem;
}



/********************************/
/*below 768px(48em)(smaller tablets)*/
/********************************/
@media (max-width: 48em) {
    .btn-mobile-nav{
        display: unset;
    }
}
