.btn{
    display: inline-block;
    text-decoration: none;
    color: #f8f9fa;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    background-color: #e67e22;
    border-radius: 16px;
    transition: all 0.3s;
    outline: unset;
    border: unset;
    cursor: pointer;
}

.btn:hover , .btn:active{
    background-color: #f76707;
}