.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 2.4rem;
}




/********************************/
/*below 944px(59em)(tablets)*/
/********************************/
@media (max-width: 59em) {
    .projects{
        column-gap: 1rem;

    }
}



/********************************/
/*below 768px(48em)(smaller tablets)*/
/********************************/
@media (max-width: 48em) {

    .projects {
        grid-template-columns: 1fr 1fr;

        height: 65%;
        overflow-y: scroll;
    }

}



/********************************/
/*below 544px(34em)(phones)*/
/********************************/
@media (max-width: 34em) {
    .projects {
        grid-template-columns: 1fr;

        height: 25%;
    }

}