.card{
    background-color: #e67e2342;
    padding: 3.2rem;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.card-openPart{
    display: flex;
    justify-content: space-between;
}

.card-headingBox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.card-heading{
    font-size: 1.8rem;
    margin: 0;
    text-transform: capitalize;
}

.card-text{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8;
    color: #f8f9fa;
    text-transform: capitalize;
}

.card-icon{
    color: #f8f9fa;
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
}

.open {
    border-top: 3px solid #e67e22;
}

.open .card-openPart,
.open .card-text,
.open .card-icon{
    color: #F5C07C;
}





/********************************/
/*below 944px(59em)(tablets)*/
/********************************/
@media (max-width: 59em) {
    .card-heading{
        font-size: 1.6rem;
    }

    .card-text{
        font-size: 1.4rem;
        line-height: 1.6;
    }

    .card-icon{
        font-size: 2rem;
    }

}


/********************************/
/*below 768px(48em)(smaller tablets)*/
/********************************/
@media (max-width: 48em) {

    .card-text{
        font-size: 1.6rem;
        line-height: 1.8;
    }

}


/********************************/
/*below 544px(34em)(phones)*/
/********************************/
@media (max-width: 34em) {

    .card-text{
        font-size: 1.4rem;
        line-height: 1.6;
    }

}

/********************************/
/*below 416px(26em)(small phones)*/
/********************************/
@media (max-width: 26em) {
    .card-heading{
        font-size: 1.6rem;
    }

    .card-text{
        font-size: 1.2rem;
        line-height: 1.4;
    }

    .card-icon{
        font-size: 1.6rem;
    }
}