.modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.80);
    height: 100vh;
    z-index: 99999999;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e67e229e;
    padding: 3.2rem 3.2rem;
    width: 75%;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;

    font-size: 1.6rem;
    line-height: 1.6;
}


.close-button {
    border: none;
    background: none;
    cursor: pointer;
    align-self: start;

    color: #f8f9fa;
    font-size: 4.4rem;
    font-weight: 600;
}


/********************************/
/*below 1200px(75em)(landscape tablets)*/
/********************************/
@media (max-width: 75em) {
    .modal-content {
        font-size: 1.6rem;
        line-height: 1.6;
    }

}

/********************************/
/*below 944px(59em)(tablets)*/
/********************************/
@media (max-width: 59em) {
    .modal-content {
        font-size: 1.4rem;
        line-height: 1.6;
    }

    .close-button {
        font-size: 3rem;
    }

}


/********************************/
/*below 768px(48em)(smaller tablets)*/
/********************************/
@media (max-width: 48em) {
    .modal {
        width: 100%;
        height: 100vh;
    }
}
