.contact{
    display: flex;
    gap: 3.2rem;
    max-width: 52rem;
}

.contact-text{
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    border: 1px solid #e67e22;
    border-radius: 16px;

    padding: 3.2rem 2.4rem;
}
.form-item{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.form-item:last-child{
    align-self: end;
}

.input{
    border-radius: 9px;
    padding: 1.2rem;
    border: none;
    background-color: #e67e2342;
    color: #f8f9fa;
}
.input::placeholder{
    color: #adb5bd;
}
.error-message{
    color: red;
}

.contact-links{
    /*display: grid;*/
    /*grid-template-columns: repeat(4 , 1fr);*/
    /*column-gap: 1.6rem;*/
    /*row-gap: 1.6rem;*/

    display: flex;
    gap: 3.2rem;
    margin: 4.8rem 0 3.2rem 0;
}
.contact-linkBox{
    display: flex;
    gap: 0.8rem;
}
.contact-link{
    /*font-size: 1rem !important;*/
}

.icon{
    color: #f8f9fa;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
}

/* adding tooltip to phone and email links */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.tooltip::before {
    content: attr(data-title);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e67e22;
    color: #f8f9fa;
    padding: 0.4rem 0.8rem;
    border-radius: 16px;
    font-size: 1.2rem;
    text-transform: lowercase;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.tooltip:hover::before {
    opacity: 1;
    visibility: visible;
}

