.container{
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.header{
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    display: flex;
    justify-content: space-between;
}

.header-profile{
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}
.profile-name{
    font-size: 1.6rem;
    text-transform: capitalize;
}
.profile-job{
    font-size: 1.2rem;
    text-transform: capitalize;
}

.Header-right-box{
    display: flex;
    flex-direction: column;
    gap: 9.6rem;
    width: 65%;
}

.header-links{
    display: flex;
    gap: 2.4rem;
    align-items: center;
    align-self: end;
    /*display: none;*/
}

.header-divider{
    display: flex;
    gap: 2.4rem;
    align-items: center;
}
.divider-number{
    font-size: 1rem;
    border: 1px solid #e67e22;
    color: #e67e22;
    border-radius: 50%;
    padding: 1rem 1rem;
    width: 4%;
}
.divider-text{
    font-size: 1rem;
    color: #e67e22;
    text-transform: uppercase;
    width: 12%;
}
.divider-line{
    width: 84%;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e67e22;
    margin: 1em 0;
    padding: 0;
}


