.header{
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;

    display: flex;
    justify-content: space-between;

    grid-column: 1/-1;
}

.header-profile{
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}
.profile-name{
    font-size: 1.6rem;
    text-transform: capitalize;
}
.profile-job{
    font-size: 1.2rem;
    text-transform: capitalize;
}

.Header-right-box{
    display: flex;
    flex-direction: column;
    gap: 9.6rem;
    width: 50%;
}

.header-links{
    display: flex;
    gap: 2rem;
    align-items: center;
    align-self: end;

    /*display: none;*/
}

.header-divider{
    display: flex;
    gap: 1.4rem;
    align-items: center;
}
.divider-number{
    text-align: center;
    font-size: 0.8rem;
    border: 1px solid #e67e22;
    color: #e67e22;
    border-radius: 50%;
    padding: 0.5rem 0.5rem;
    width: 4%;
}
.divider-text{
    font-size: 1rem;
    color: #e67e22;
    text-transform: uppercase;
    width: 16%;
}
.divider-line{
    width: 80%;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e67e22;
    margin: 1rem;
    padding: 0;
}







/********************************/
/*below 704px(44em)(small tablets)*/
/********************************/
@media (max-width: 44em) {

    .profile-name{
        font-size: 1.4rem;
    }
    .profile-job{
        font-size: 1rem;
    }

    .header-divider{
        gap: 1.2rem;
    }

    .divider-number{
        font-size: 0.6rem;
        padding: 0.4rem 0.4rem;
    }
    .divider-text{
        font-size: 0.8rem;
    }

}


/********************************/
/*below 544px(34em)(phones)*/
/********************************/
@media (max-width: 34em) {
    .Header-right-box{
        width: 70%;
    }

    .profile-name{
        font-size: 0.9rem;
    }
    .profile-job{
        font-size: 0.7rem;
    }

    .header-divider{
        gap: 1.2rem;
    }

    .divider-number{
        font-size: 0.5rem;
        padding: 0.3rem 0.3rem;
    }
    .divider-text{
        font-size: 0.7rem;
    }

}



