.skill-box{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
    padding: 2.4rem 0;

    border-radius: 16px;
    transition: all 0.3s;
}
.skill-box-beginner{
    background-color: rgb(230 126 35 / 32%);
    border-top: 3px solid rgb(230 126 35 / 32%);
}
.skill-box-intermediate{
    background-color: rgb(140 233 154 / 32%);
    border-top: 3px solid rgb(140 233 154 / 32%);
}
.skill-box:hover{
    cursor: pointer;
    border-top: 3px solid #e67e22;
    color: #F5C07C;
}

.skill-title{
    font-weight: 500;
    font-size: 2rem;
}
.skill-level{
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1.6rem;
}


/********************************/
/*below 1200px(75em)(landscape tablets)*/
/********************************/
@media (max-width: 75em) {
    .skill-title{
        font-size: 1.6rem;
    }

    .skill-level{
        font-size: 1.4rem;
    }
}


/********************************/
/*below 944px(59em)(tablets)*/
/********************************/
@media (max-width: 59em) {
    .skill-title{
        font-size: 1.6rem;
    }

    .skill-level{
        font-size: 1.4rem;
    }
}

/********************************/
/*below 768px(48em)(smaller tablets)*/
/********************************/
@media (max-width: 48em) {

}

/********************************/
/*below 544px(34em)(phones)*/
/********************************/
@media (max-width: 34em) {
    .skill-title{
        font-size: 1.6rem;
    }

    .skill-level{
        font-size: 1.4rem;
    }

}

/********************************/
/*below 416px(26em)(small Phones)*/
/********************************/
@media (max-width: 26em) {
    .skill-title{
        font-size: 1.6rem;
    }

    .skill-level{
        font-size: 1.2rem;
    }

}