.links{
    text-decoration: none;
    color: #adb5bd;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    padding-bottom: 0.4rem;
    font-size: inherit;
    transition: color 0.3s;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    cursor: pointer;
}
.links:hover , .links:active{
    color: #f8f9fa;
    border-bottom: 1px solid #e67e22;
}


